/* ScheduledTrainComponent.css */

.container {
    padding: 20px;
    font-family: 'Arial', sans-serif;
    background-color: #ffffff; /* White background */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #e0e0e0;
  }
  
  #h2 {
    color: #ffffff;
    background-color: #04162bc4;
    margin-top: 0px;
    margin: 15px;
    padding: 15px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 0.5px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
  }
  
  th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
    background-color: rgb(251, 251, 255);
  }
  
  th {
    background-color: #673bf7;
    color: #fbf9f9;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #f1f1f1;
  }
  
  td.status {
    font-weight: 600;
    text-align: center;
    padding: 8px;
    border-radius: 4px;
  }
  
  td.status.on-time {
    color: #28a745; /* Green for on time */
    background-color: #e9f7ef;
  }
  
  td.status.delayed {
    color: #dc3545; /* Red for delayed */
    background-color: #f8d7da;
  }
  